Source: nonameim
Section: user/other
Priority: optional
Maintainer: Aleksey Sidorov <sauron@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: nonameim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: VK client
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: Five
XB-Maemo-Flags: visible
XB-MeeGo-Desktop-Entry-Filename: NonameIM_harmattan
XB-MeeGo-Desktop-Entry: 
 [Desktop Entry]
 Type=Application
 Name=NonameIM
 Icon=/usr/share/icons/hicolor/80x80/apps/NonameIM80.png
