[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=nonameIM
Exec=invoker --single-instance --type=d /opt/nonameIM/bin/nonameIM
Icon=nonameIM64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
